<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/mainpage.css">
    <title>Mainpage</title>
</head>
<body>
    <form action="{{url_for('user')}}">
        <div class="login">
            <div class="user1">
                <!-- <button><span> <a href="USERPORTAL.html">Enter to User</a> </span> </button> -->
                <button><span> Enter to user</span></button>
            </div>
    </form>
       <form action="{{url_for('adminport')}}">
        <div class="admin"> 
            <button><span>Enter for Admin</a> </span></button>
        </div>
       </form>
        
    </div>
    
</body>
</html>